{% extends 'base.html' %}
{% block title %} Pengurus {% endblock %}
{% block content %}

<div class="col">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Pengurus</h6>
        </div>
        <div class="card-body">
            <a href="/insertpengurus" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Tambah Data</span>
            </a>
            <hr>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert"> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Telepon</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Maesa Inanana</td>
                            <td>innama123@gmail.com</td>
                            <td>087759716075</td>
                            <td>Admin</td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-pen"></i></a>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-danger btn-sm" href="#"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% block chart %} {% endblock %}
{% endblock %}